.desktop-nav-single-item-header-active,
.desktop-nav-single-item-active {
  @apply font-semibold;
}

.desktop-nav-single-item-header,
.desktop-nav-single-item-header-active {
  margin-bottom: -2px;
}

.desktop-nav-single-item-header-active::after,
.desktop-nav-single-item-header-active::before,
.desktop-nav-single-item-active::after,
.desktop-nav-single-item-active::before {
  height: 8px;
}

.desktop-nav-single-item-header-active::after,
.desktop-nav-single-item-header-active::before,
.desktop-nav-single-item-header::after,
.desktop-nav-single-item-header::before {
  bottom: 3px;
}

.mobile-nav-single-item-header-active {
  @apply py-1;
}

.mobile-nav-single-item-header-active .nav-single-item-active-span,
.mobile-nav-single-item-active .nav-single-item-active-span {
  position: relative;
  z-index: 1;
}

.mobile-nav-single-item-header-active .nav-single-item-active-span::after,
.mobile-nav-single-item-active .nav-single-item-active-span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: -1;
}

.mobile-nav-single-item-header-active .nav-single-item-active-span::after {
  @apply bg-white;
}
.mobile-nav-single-item-active .nav-single-item-active-span::after {
  @apply bg-yellow-200;
}

.mobile-nav-single-item-header-active,
.mobile-nav-single-item-active {
  @apply font-semibold;
}

.mobile-nav-single-item-header {
}

.mobile-nav-single-item-header-active,
.mobile-nav-single-item-header {
  border-bottom: 1px solid #fff;
  @apply bg-yellow-200 w-full text-center;
}
