.tags-nav {
  border-right: 1px dashed #fde047;
  height: 100%;
  min-height: 89vh;
}

.tags-ul .tags-ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.tags-ul-expanded + .tags-ul {
  max-height: 300px;
}

.tags-ul-expanded .circle-arrow-icon {
  transform: rotate(90deg);
}

.circle-arrow-icon {
  transition: transform 0.3s;
}

.li-nav-item-container {
  position: relative;
}

.li-nav-item-container::before {
  content: "";
  position: absolute;
  width: 0.7em;
  height: 0.8em;
  border-left: 2px solid #fde047;
  border-bottom: 2px solid #fde047;
  left: -0.8em;
  border-radius: 0.1em;
}

.li-nav-header,
.li-nav-header-active {
  margin-bottom: -2px;
}

.li-nav-header-active,
.li-nav-item-active {
  @apply font-semibold;
}

.li-nav-header-active::after,
.li-nav-header-active::before,
.li-nav-item-active::after,
.li-nav-item-active::before {
  height: 8px;
}

.li-nav-item-active::after,
.li-nav-item-active::before {
  bottom: 0;
}

.li-nav-header::after,
.li-nav-header::before {
  bottom: 3px;
}
